
{% load static %}

                     <div class="section section_banners scrollreveal scrollAnimateFade">
                         <div class="container">
                             <div class="row">
                                 <div class="col-lg-3 col-sm-6">
                                     <div class="bnr-container">
                                         <a href="#">
                                             <div class="lazy-img banner-image">
                                                 <img data-original="{% static 'tubesite/images/banner_01.jpg' %}" src="#" alt="banner image">
                                             </div>
                                         </a>
                                     </div>         </div>
                                     <div class="col-lg-3 col-sm-6">
                                         <div class="bnr-container">
                                             <a href="#">
                                                 <div class="lazy-img banner-image">
                                                     <img data-original="{% static 'tubesite/images/banner_02.jpg' %}" src="#" alt="banner image">
                                                 </div>
                                             </a>
                                         </div>         </div>
                                         <div class="col-lg-3 col-sm-6">
                                             <div class="bnr-container">
                                                 <a href="#">
                                                     <div class="lazy-img banner-image">
                                                         <img data-original="{% static 'tubesite/images/banner_03.jpg' %}" src="#" alt="banner image">
                                                     </div>
                                                 </a>
                                             </div>         </div>
                                             <div class="col-lg-3 col-sm-6">
                                                 <div class="bnr-container">
                                                     <a href="#">
                                                         <div class="lazy-img banner-image">
                                                             <img data-original="{% static 'tubesite/images/banner_04.jpg' %}" src="#" alt="banner image">
                                                         </div>
                                                     </a>
                                                 </div>         </div>
                             </div>
                         </div>
                     </div>