{% load static %}


                     <div class="footer__social">
                        <div class="container">
                           <div class="row">

                              <div class="column">
                                 <a href="#" class="footer__social-item">
                                    <img src="{% static 'tubesite/images/reddit_logo.svg' %}" alt="reddit">
                                    <div class="footer__social-info">
                                       <div class="footer__social-subscribers">
                                          12 622
                                       </div>
                                       <div class="footer__social-username">
                                          @cutetube
                                       </div>
                                    </div>
                                 </a>
                              </div>

                              <div class="column">
                                 <a href="#" class="footer__social-item">
                                    <img src="{% static 'tubesite/images/tumblr_logo.svg' %}" alt="tumblr">
                                    <div class="footer__social-info">
                                       <div class="footer__social-subscribers">
                                          27 332
                                       </div>
                                       <div class="footer__social-username">
                                          @cutetube
                                       </div>
                                    </div>
                                 </a>
                              </div>

                              <div class="column">
                                 <a href="#" class="footer__social-item">
                                    <img src="{% static 'tubesite/images/googleplus_logo.svg' %}" alt="googleplus">
                                    <div class="footer__social-info">
                                       <div class="footer__social-subscribers">
                                          31 478
                                       </div>
                                       <div class="footer__social-username">
                                          @cutetube
                                       </div>
                                    </div>
                                 </a>
                              </div>

                              <div class="column">
                                 <a href="#" class="footer__social-item">
                                    <img src="{% static 'tubesite/images/twitter_logo.svg' %}" alt="twitter">
                                    <div class="footer__social-info">
                                       <div class="footer__social-subscribers">
                                          14 983
                                       </div>
                                       <div class="footer__social-username">
                                          @cutetube
                                       </div>
                                    </div>
                                 </a>
                              </div>

                              <div class="column">
                                 <a href="#" class="footer__social-item">
                                    <img src="{% static 'tubesite/images/blogger_logo.svg' %}" alt="blogger">
                                    <div class="footer__social-info">
                                       <div class="footer__social-subscribers">
                                          94 029
                                       </div>
                                       <div class="footer__social-username">
                                          @cutetube
                                       </div>
                                    </div>
                                 </a>
                              </div>

                              <div class="column">
                                 <a href="#" class="footer__social-item">
                                    <img src="{% static 'tubesite/images/rss_logo.svg' %}" alt="rss">
                                    <div class="footer__social-info">
                                       <div class="footer__social-subscribers">
                                          22 698
                                       </div>
                                       <div class="footer__social-username">
                                          @cutetube
                                       </div>
                                    </div>
                                 </a>
                              </div>

                           </div>
                        </div>
                     </div>
