{% load static %}

                  <div class="dropdown lng-dropdown">
                     <a href="#" class="dropdown__toggle" data-toggle="dropdown">
                        <span class="lng-dropdown__icon"><img src="{% static 'tubesite/images/cz_icon.svg' %}" alt=""></span>
                        <span>CZ</span>
                     </a>
                     <ul class="dropdown-menu">
                        <li>
                           <a href="#">
                              <span class="lng-dropdown__icon"><img src="{% static 'tubesite/images/gb_icon.svg' %}" alt=""></span>
                              <span>GB</span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <span class="lng-dropdown__icon"><img src="{% static 'tubesite/images/ru_icon.svg' %}" alt=""></span>
                              <span>RU</span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <span class="lng-dropdown__icon"><img src="{% static 'tubesite/images/nl_icon.svg' %}" alt=""></span>
                              <span>NL</span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <span class="lng-dropdown__icon"><img src="{% static 'tubesite/images/de_icon.svg' %}" alt=""></span>
                              <span>DE</span>
                           </a>
                        </li>
                     </ul>
                  </div>
