{% extends "./_base.html" %}
{% load static %}
{% load thumbnail %}

{% block main_content %}

    <!--CATEGORIES-->
                 <div class="inner">

                     <div class="section popular scrollreveal scrollAnimateFade">
                         <div class="container">
                             <div class="section__inner">
                                 <div class="section-heading">
                                     <h4>Popular categories</h4>
                                 </div>
                                 <div class="row row--flex row--portrait">

                                     {% for category in popular_categories %}
                                         <div class="col-sm-3">
                                         <a href="./category.html" class="category-preview js-ajax-link">
                                             <div class="category-preview__image">
                                                 <span class="lazy-bg-img" data-original="{{ category.image.url }}"></span>
                                                 <div class="category-preview__info">
                                                     <div class="category-preview__count">
                                                         {{ category.count }}
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="category-preview__name">
                                                 {{ category.name }}
                                             </div>
                                         </a>
                                         </div>
                                     {% endfor %}


                                     {% comment %}
                                     <div class="col-sm-3">
                                         <a href="./category.html" class="category-preview js-ajax-link">
                                             <div class="category-preview__image">
                                                 <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_24.jpg' %}"></span>
                                                 <div class="category-preview__info">
                                                     <div class="category-preview__count">
                                                         10268
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="category-preview__name">
                                                 Action
                                             </div>
                                         </a>                     </div>
                                     <div class="col-sm-3">
                                         <a href="./category.html" class="category-preview js-ajax-link">
                                             <div class="category-preview__image">
                                                 <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_01.jpg' %}"></span>
                                                 <div class="category-preview__info">
                                                     <div class="category-preview__count">
                                                         10268
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="category-preview__name">
                                                 Drama
                                             </div>
                                         </a>                     </div>
                                     <div class="col-sm-3">
                                         <a href="./category.html" class="category-preview js-ajax-link">
                                             <div class="category-preview__image">
                                                 <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_13.jpg' %}"></span>
                                                 <div class="category-preview__info">
                                                     <div class="category-preview__count">
                                                         10268
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="category-preview__name">
                                                 Thriller
                                             </div>
                                         </a>                     </div>
                                     <div class="col-sm-3">
                                         <a href="./category.html" class="category-preview js-ajax-link">
                                             <div class="category-preview__image">
                                                 <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_17.jpg' %}"></span>
                                                 <div class="category-preview__info">
                                                     <div class="category-preview__count">
                                                         10268
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="category-preview__name">
                                                 Romance
                                             </div>
                                         </a>                     </div>

                                     {% endcomment %}

                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="section categories scrollreveal scrollAnimateFade">
                         <div class="container">
                             <div class="section-heading">
                                 <h4>Categories</h4>
                                 <div class="section-heading__control dropdown">
                                     <a href="#" class="dropdown__toggle" data-toggle="dropdown">
                                         Most popular <span class="dropdown__arrow"></span>
                                     </a>
                                     <ul class="dropdown-menu">
                                         <li>
                                             <a href="./category.html" class="js-ajax-link">New</a>
                                         </li>
                                         <li>
                                             <a href="./category.html" class="js-ajax-link">Trending</a>
                                         </li>
                                         <li class="is-active">
                                             <a href="./category.html" class="js-ajax-link">Popular</a>
                                         </li>
                                         <li>
                                             <a href="./category.html" class="js-ajax-link">Most liked</a>
                                         </li>
                                     </ul>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-xxl-2 col-md-3 col-sm-4">
                                     {% include './_inc/_aside_categories.html' %}
                                 </div>
                                 <div class="col-xxl-10 col-md-9 col-sm-8">
                                     <div class="row five-columns five-columns--portrait row--flex">

                                         {% for category in categories %}
                                             <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                             <a href="{% url 'category' category.id %}" class="category-preview js-ajax-link">
                                                 <div class="category-preview__image">
                                                     <span class="lazy-bg-img" data-original="{{ category.image.url }}"></span>
                                                     <div class="category-preview__info">
                                                         <div class="category-preview__count">
                                                             {{ category.count }}
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="category-preview__name">
                                                     {{ category.name }}
                                                 </div>
                                             </a>
                                             </div>
                                         {% endfor %}

                                         {% comment %}
                                         <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                             <a href="./category.html" class="category-preview js-ajax-link">
                                                 <div class="category-preview__image">
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_01.jpg' %}"></span>
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_01.jpg' %}"></span>
                                                     <div class="category-preview__info">
                                                         <div class="category-preview__count">
                                                             10268
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="category-preview__name">
                                                     Action
                                                 </div>
                                             </a>                        </div>
                                         <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                             <a href="./category.html" class="category-preview js-ajax-link">
                                                 <div class="category-preview__image">
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_02.jpg' %}"></span>
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_02.jpg' %}"></span>
                                                     <div class="category-preview__info">
                                                         <div class="category-preview__count">
                                                             10268
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="category-preview__name">
                                                     Adventure
                                                 </div>
                                             </a>                        </div>
                                         <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                             <a href="./category.html" class="category-preview js-ajax-link">
                                                 <div class="category-preview__image">
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_03.jpg' %}"></span>
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_03.jpg' %}"></span>
                                                     <div class="category-preview__info">
                                                         <div class="category-preview__count">
                                                             10268
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="category-preview__name">
                                                     Animation
                                                 </div>
                                             </a>                        </div>
                                         <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                             <a href="./category.html" class="category-preview js-ajax-link">
                                                 <div class="category-preview__image">
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_04.jpg' %}"></span>
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_04.jpg' %}"></span>
                                                     <div class="category-preview__info">
                                                         <div class="category-preview__count">
                                                             10268
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="category-preview__name">
                                                     Biography
                                                 </div>
                                             </a>                        </div>
                                         <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                             <a href="./category.html" class="category-preview js-ajax-link">
                                                 <div class="category-preview__image">
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_05.jpg' %}"></span>
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_05.jpg' %}"></span>
                                                     <div class="category-preview__info">
                                                         <div class="category-preview__count">
                                                             10268
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="category-preview__name">
                                                     Comedy
                                                 </div>
                                             </a>                        </div>

                                         <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                             <a href="./category.html" class="category-preview js-ajax-link">
                                                 <div class="category-preview__image">
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_06.jpg' %}"></span>
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_06.jpg' %}"></span>
                                                     <div class="category-preview__info">
                                                         <div class="category-preview__count">
                                                             10268
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="category-preview__name">
                                                     Crime
                                                 </div>
                                             </a>                        </div>
                                         <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                             <a href="./category.html" class="category-preview js-ajax-link">
                                                 <div class="category-preview__image">
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_07.jpg' %}"></span>
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_07.jpg' %}"></span>
                                                     <div class="category-preview__info">
                                                         <div class="category-preview__count">
                                                             10268
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="category-preview__name">
                                                     Documentary
                                                 </div>
                                             </a>                        </div>
                                         <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                             <a href="./category.html" class="category-preview js-ajax-link">
                                                 <div class="category-preview__image">
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_08.jpg' %}"></span>
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_08.jpg' %}"></span>
                                                     <div class="category-preview__info">
                                                         <div class="category-preview__count">
                                                             10268
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="category-preview__name">
                                                     Drama
                                                 </div>
                                             </a>                        </div>
                                         <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                             <a href="./category.html" class="category-preview js-ajax-link">
                                                 <div class="category-preview__image">
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_09.jpg' %}"></span>
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_09.jpg' %}"></span>
                                                     <div class="category-preview__info">
                                                         <div class="category-preview__count">
                                                             10268
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="category-preview__name">
                                                     Family
                                                 </div>
                                             </a>                        </div>
                                         <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                             <a href="./category.html" class="category-preview js-ajax-link">
                                                 <div class="category-preview__image">
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_10.jpg' %}"></span>
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_10.jpg' %}"></span>
                                                     <div class="category-preview__info">
                                                         <div class="category-preview__count">
                                                             10268
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="category-preview__name">
                                                     Fantasy
                                                 </div>
                                             </a>                        </div>

                                         <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                             <a href="./category.html" class="category-preview js-ajax-link">
                                                 <div class="category-preview__image">
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_11.jpg' %}"></span>
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_11.jpg' %}"></span>
                                                     <div class="category-preview__info">
                                                         <div class="category-preview__count">
                                                             10268
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="category-preview__name">
                                                     Game-Show
                                                 </div>
                                             </a>                        </div>
                                         <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                             <a href="./category.html" class="category-preview js-ajax-link">
                                                 <div class="category-preview__image">
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_12.jpg' %}"></span>
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_12.jpg' %}"></span>
                                                     <div class="category-preview__info">
                                                         <div class="category-preview__count">
                                                             10268
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="category-preview__name">
                                                     History
                                                 </div>
                                             </a>                        </div>
                                         <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                             <a href="./category.html" class="category-preview js-ajax-link">
                                                 <div class="category-preview__image">
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_13.jpg' %}"></span>
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_13.jpg' %}"></span>
                                                     <div class="category-preview__info">
                                                         <div class="category-preview__count">
                                                             10268
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="category-preview__name">
                                                     Horror
                                                 </div>
                                             </a>                        </div>
                                         <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                             <a href="./category.html" class="category-preview js-ajax-link">
                                                 <div class="category-preview__image">
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_14.jpg' %}"></span>
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_14.jpg' %}"></span>
                                                     <div class="category-preview__info">
                                                         <div class="category-preview__count">
                                                             10268
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="category-preview__name">
                                                     Music
                                                 </div>
                                             </a>                        </div>
                                         <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                             <a href="./category.html" class="category-preview js-ajax-link">
                                                 <div class="category-preview__image">
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_15.jpg' %}"></span>
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_15.jpg' %}"></span>
                                                     <div class="category-preview__info">
                                                         <div class="category-preview__count">
                                                             10268
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="category-preview__name">
                                                     Musician
                                                 </div>
                                             </a>                        </div>

                                         <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                             <a href="./category.html" class="category-preview js-ajax-link">
                                                 <div class="category-preview__image">
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_16.jpg' %}"></span>
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_16.jpg' %}"></span>
                                                     <div class="category-preview__info">
                                                         <div class="category-preview__count">
                                                             10268
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="category-preview__name">
                                                     Mystery
                                                 </div>
                                             </a>                        </div>
                                         <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                             <a href="./category.html" class="category-preview js-ajax-link">
                                                 <div class="category-preview__image">
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_17.jpg' %}"></span>
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_17.jpg' %}"></span>
                                                     <div class="category-preview__info">
                                                         <div class="category-preview__count">
                                                             10268
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="category-preview__name">
                                                     News
                                                 </div>
                                             </a>                        </div>
                                         <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                             <a href="./category.html" class="category-preview js-ajax-link">
                                                 <div class="category-preview__image">
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_18.jpg' %}"></span>
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_18.jpg' %}"></span>
                                                     <div class="category-preview__info">
                                                         <div class="category-preview__count">
                                                             10268
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="category-preview__name">
                                                     Reality-TV
                                                 </div>
                                             </a>                        </div>
                                         <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                             <a href="./category.html" class="category-preview js-ajax-link">
                                                 <div class="category-preview__image">
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_19.jpg' %}"></span>
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_19.jpg' %}"></span>
                                                     <div class="category-preview__info">
                                                         <div class="category-preview__count">
                                                             10268
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="category-preview__name">
                                                     Romance
                                                 </div>
                                             </a>                        </div>
                                         <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
                                             <a href="./category.html" class="category-preview js-ajax-link">
                                                 <div class="category-preview__image">
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_20.jpg' %}"></span>
                                                     <span class="lazy-bg-img" data-original="{% static 'tubesite/images/photo_20.jpg' %}"></span>
                                                     <div class="category-preview__info">
                                                         <div class="category-preview__count">
                                                             10268
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="category-preview__name">
                                                     Sci-Fi
                                                 </div>
                                             </a>                        </div>

                                         {% endcomment %}

                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>

                     <!--BANNERS-->
                     <div class="section section_banners scrollreveal scrollAnimateFade">
                         <div class="container">
                             <div class="row">
                                 <div class="col-lg-3 col-sm-6">
                                     <div class="bnr-container">
                                         <a href="#">
                                             <div class="lazy-img banner-image">
                                                 <img data-original="{% static 'tubesite/images/banner_01.jpg' %}" src="#" alt="banner image">
                                             </div>
                                         </a>
                                     </div>         </div>
                                     <div class="col-lg-3 col-sm-6">
                                         <div class="bnr-container">
                                             <a href="#">
                                                 <div class="lazy-img banner-image">
                                                     <img data-original="{% static 'tubesite/images/banner_02.jpg' %}" src="#" alt="banner image">
                                                 </div>
                                             </a>
                                         </div>         </div>
                                         <div class="col-lg-3 col-sm-6">
                                             <div class="bnr-container">
                                                 <a href="#">
                                                     <div class="lazy-img banner-image">
                                                         <img data-original="{% static 'tubesite/images/banner_03.jpg' %}" src="#" alt="banner image">
                                                     </div>
                                                 </a>
                                             </div>         </div>
                                             <div class="col-lg-3 col-sm-6">
                                                 <div class="bnr-container">
                                                     <a href="#">
                                                         <div class="lazy-img banner-image">
                                                             <img data-original="{% static 'tubesite/images/banner_04.jpg' %}" src="#" alt="banner image">
                                                         </div>
                                                     </a>
                                                 </div>         </div>
                             </div>
                         </div>
                     </div>
                     <!--/BANNERS-->         <!--info-block-->
                     <div class="section info-block scrollreveal scrollAnimateFade">
                         <div class="container">
                             <h3>The Electric Ant is a science fiction short story by Philip K.</h3>
                             <div class="row">
                                 <div class="col-lg-4 col-sm-6">
                                     <div class="info-block__col">
                                         <p>
                                             Garson Poole wakes up after a flying-car-crash to find that he is missing a hand. He then finds out that he is an 'electric ant' – an "organic" robot. He further finds out that what he believes is his subjective reality is being fed to him from a micro-punched tape in his chest cavity. He experiments on this tape by adding new holes, which adds things to his reality.
                                         </p>
                                     </div>
                                 </div>
                                 <div class="col-lg-4 col-sm-6">
                                     <div class="info-block__col">
                                         <p>
                                             Convinced that his entire reality is constrained by the tape, he makes a major change to it, with a major effect on his reality. The change affects everyone else he interacts with, which raises the question of whether any of them – or he himself – are "real" at all.
                                         </p>
                                     </div>
                                 </div>
                                 <div class="col-lg-4 hidden-md hidden-sm hidden-xs">
                                     <div class="info-block__col">
                                         <p>
                                             Convinced that his entire reality is constrained by the tape, he makes a major change to it, with a major effect on his reality. The change affects everyone else he interacts with, which raises the question of whether any of them – or he himself – are "real" at all.
                                         </p>
                                     </div>
                                 </div>
                             </div>
                             <div class="seo-spoiler">
                                 <div class="seo-spoiler__wrap">
                                     <div class="seo-spoiler__text">
                                         <p>
                                             Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver. Looking down into the dark gulf below, I could see a ruddy light streaming through a rift in the clouds.
                                         </p>
                                         <p>
                                             Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver. Looking down into the dark gulf below, I could see a ruddy light streaming through a rift in the clouds.
                                         </p>
                                     </div>
                                 </div>
                                 <div class="seo-spoiler__link-center">
                                     <a href="#" class="seo-spoiler__link">Show more</a>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
    <!--/CATEGORIES-->

{% endblock %}
